;.editorconfig

root = true

[*]
# global indentation settings
indent_style = tab
indent_size = 4

# general file format settings
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# setting for JavaScript files
[**.js]
bin = node
indent_style = tab
indent_size = 4
max_char = 120

# settings for JSON files
[**.json]
indent_style = tab
indent_size = 2

# settings for JSLint configuration files
[**.jslintrc]
indent_style = tab
indent_size = 2

